h1 {
    text-align: center;
    padding: 20px;
    border-bottom: 0.5px solid gray; 
    margin-bottom: 0px;
}
#content {
    border-left: 0.5px solid gray;
    padding: 20px; 
}            
#grid {
    display: grid; 
    grid-template-columns: 200px 1fr;
}
@media(max-width: 800px){
    h1 {
        border: 0.5px solid gray;
        padding: 20px; 
    }
    #content {
        border-left: none; 
    } 
    #grid{
        display: block;
    }      
}       